<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Rx F1</span>
            <a mat-button 
                [routerLink]="['/drivers']"
                routerLinkActive="link-active">
                Drivers
            </a>
            <a mat-button
                [routerLink]="['/races']"
                routerLinkActive="link-active">
                Races
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
<main>
    <router-outlet></router-outlet>
</main>