/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert {
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
    color: #58151c;
}
